# Visual Studio
.vs/
*.[suo|user]
*.user
*.cache

# Build results
[Bb]in/
[Oo]bj/

# Rider
.idea/

# User Secrets
**/secrets.json

# Other
*.lock.json
*.nupkg

# User-specific files and secrets
# Ignore application settings files that may contain secrets.
# The main appsettings.json is often kept for structure, but appsettings.Development.json
# is almost always ignored because it contains local developer connection strings.

appsettings.Development.json
