# ================= #
# User-specific     #
# ================= #
*.user
*.suo
*.sln.docstates

# Secrets
# Do not commit local development settings or other environment-specific settings.
appsettings.Development.json